.App {
  padding: 0 0 40px 40px;
  box-sizing: border-box;
}
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: 'Segoe ui', Arial, sans-serif;
  background-color: #f8f9fa;
  background-image: url("images/background-7.png");
  background-size: cover;
  background-color: #f8f9fa;
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*******************************************
Tag Styles
******************************************/

h1 {
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: 800;
  line-height: 90%;
  max-width: 600px;
}

h2 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 1.7em;
  font-weight: 800;
}

header p {
  margin-block-start: 4px;
  font-size: 1.8em;
  font-weight: 800;
}

.project p {
  color: #FFFFFF;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  margin: 0;
  letter-spacing: .02em;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 500px;
  padding: 20px;
  background-color: #0a0313;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 20px 0px;

}

label {
  width: 100%;
  padding-bottom: 4px;
}

input {
  height: 28px;
}
input, textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 4px 0px 20px 0px;
  border-radius: 4px;
  border: 0px;
  padding: 8px;
}

input[type=submit] {
  background-color: #791d83;
  padding: 8px;
  width: 100px;
  border: 0px;
  color: #FFFFFF;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #310d35;
  cursor: pointer;
}
/*******************************************
Containers
******************************************/
.App {
  overflow: hidden;
}

.header {
  padding: 0px 40px;    
  flex-grow: 1;
  overflow: hidden;
}

.content {
  margin: 10px 40px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

li {
  
  margin: 20px 20px 0 0;
  width: 500px;
  min-height: 150px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0px 2px 4px rgba(206, 206, 206, 0.4);*/
  background-color: #00000090;
  background-blend-mode: overlay;
  background-size: cover;
  background-position:center;
  flex-direction: column;
  transition: background-color 0.8s ease, width 0.5s ease, min-height 0.5s ease;
}

li:hover {
  background-color: #00000000;
  width: 600px;
  min-height: 200px;
}

li:nth-child(1) {
  background-image: url("images/project1.png");
}
li:nth-child(2) {
  background-image: url("images/project2.png");
}
li:nth-child(3) {
  background-image: url("images/project3.png");
}