/******************************************
   Tag Styles
*******************************************/

body {
  font-family: 'Segoe ui', Arial, sans-serif;
  background-color: #f8f9fa;
  background-image: url("images/background-7.png");
  background-size: cover;
  background-color: #f8f9fa;
  color: #FFFFFF;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px;
  box-sizing: border-box;
}

.App > *:first-child {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


form {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #00000070;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 60px;
}

label {
  width: 100%;
  display: block;
}

input, textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
  margin-bottom: 8px;
  box-sizing: border-box;
}

input {
  height: 28px;
  margin: 10px 0;
}

input[type="submit"], button {
  width: auto;
  background-color: #b727c0;
  color: #FFFFFF;
  border: none;
  margin: 20px 0;
  height: 32px;
  border-radius: 4px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 80px;
  font-weight: 800;
  line-height: 90%;
  max-width: 600px;
}

h2 {
  margin: 10px 0;
  padding: 0;
  color: #f168fc;
  font-size: 1.5em;
  font-weight: 800;
}

header p {
  margin-block-start: 4px;
  font-size: 1.5em;
  font-weight: 800;
}

p {
  color: #FFFFFF;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  margin: 0;
  letter-spacing: .02em;
  line-height: 7%;
}
/*******************************************
Containers
******************************************/
.App {
  overflow: hidden;
}

.header {
  padding: 0px 40px;    
  flex-grow: 1;
  overflow: hidden;
}


.App > :nth-child(2) > * {
  width: 400px;
  padding: 20px;
  min-height: 90px;
  background-color: #00000090;
  background-blend-mode: overlay;
  background-size: cover;
  background-position:center;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: background-color 0.8s ease, width 0.5s ease, min-height 0.5s ease;
}

.App> :nth-child(2) > *:hover   {
  width: 450px;
  min-height: 110px;
  cursor: pointer;
}

.App > :nth-child(2) > :first-child {
  background-image: url("images/project1.png");
}

.App > :nth-child(2) > :nth-child(2) {
  background-image: url("images/project2.png");

}
.App > :nth-child(2) > :nth-child(3) {
  background-image: url("images/project3.png");
}